/*general*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img{
    max-width: 100%;
}


/*header*/
header{
    background-color: rgb(255, 105, 0);
}
.container-header{
    display: flex;
    width: 1000px;
    margin: auto;
}
.sinistra{
    width: 20%;
    align-self: center;
}
a{
    padding: 5px;
    text-decoration: none;
    color: white;
    text-align: center;
    font-size: 0.85em;
}
.centro{
    width: 60%;

}
.logo{
    display: block;
    height: 40px;
    margin: auto;
    padding: 10px;
}
.destra{
    width: 20%;
    align-self: center;
}
i{
    padding: 5px;
    text-decoration: none;
    color: white;
    text-align: center;
}
/* fine header*/

/* inizio main*/

.container-body{
    width: 1000px;
    margin: auto;
    display: flex;
}
.prodotto{
    width: calc(100% / 3);

}
.prodotto-top{
    position: relative;
}
.cuore{
    display:block;
    font-size: 3em;
    position: absolute;
    top:2%;
    right: 0;
    color: black ; 
    background-color: white;
    padding: 5px;
    /*display: none;  Nascondiamo il simbolo inizialmente */ 
}  
.sconto{
    position: absolute;
    left: 0;
    bottom: 10%;
    background-color: red;
    color: white;
    padding: 5px;
}
.sostenibilità{
    position: absolute;
    left: 50px;
    bottom: 10%;
    background-color: green;
    color: white;
    padding: 5px;
}
.scritte{
    text-align: start;
}
.text-oggetto{
    font-size: 1.1rem;
}
.prezzo-rosso {
    color: red;
}